<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/css/style.css' /> 
    <%- include('./partials/head') %>  
</head> 
   <%- include('./partials/navBar') %>  

<body>
    <br>
    <div class="form-search-bar" action="#" method="GET">
        <form action="/" method="POST">
            <div class="nameField">
                <input class="barra_busqueda" type="text" name="barra_busqueda"
                    placeholder="Buscar bicicleta">
                    <button>Buscar</button>
                    <i class="fa fa-search" aria-hidden="true"></i>

            </div>
            <br>
    </div>
    <main>
        <figure class="fondo">
            <img class="fondo" src="/img/fondo.png" alt="fondo">
          </figure>  
    </main>
    <br>
    <footer><%- include('./partials/footer') %>  </footer>

    
    
</body>
</html>