<div class="box">

    <h2>Rueda sin limites-Siguenos en nuestras redes sociales <i class="fa-brands fa-facebook"></i> <i
            class="fa-brands fa-instagram-square"></i></h2>
    <h2> Paga con tarjeta o efectivo <i class="fas fa-credit-card"></i></h2>

</div>