<header>

    <nav>
        <div class="nav-bar-login">
            <figure class="nav-bar-login">
                <img class='logo' src="/img/logo.png" alt="logo">
            </figure>
            <ul class="enlaces">
                <li><h3><a href="/products">Productos <i class="fa fa-bicycle" aria-hidden="true"></i>
                </a> </li> </h3>
                <li><h3><a href="/users/create">Register  <i class="fa-solid fa-user"></i></a></li></h3>
                <li><h3><a href="/users/login">Login  <i class="fa-solid fa-user"></i></a></li></h3>
                <li><h3><a href="/shopping/2">Basket  <i class="fa-solid fa-basket-shopping"></i></a></li></h3>
            </ul>
        </div>
    </nav>


